<h1>Add Phrases from Paragraph</h1>

<%= form_tag url_for(controller: "/phrases", action: "import_from_paragraph"), method: :post %>
  <div class="field">

  <%= text_area_tag 'paragraph', "", placeholder: "Add Paragraph",  cols: "40", rows: "20" %>
</div>
  <%= submit_tag 'Import Phrases' %></br>
<%= link_to 'Back', phrases_path %>
